// CONSTANTS

$violet-dark: #6C5FBC;
$violet-normal: #5C4EAE;
$violet-light: #A596FF;
$text-black-main: #323142;
$text-black-second: #201F1F;
$text-grey-main: #676767;
$text-gray-second: #ACADB9;
$text-violet-second: #C5BFED;

// GLOBAL CLASSES

* {
  box-sizing: border-box;
}

hr {
  height: 0.5px;
  background-color: #CBCBCB;
}

h1 {
  @extend .poppins-bold;
  color: $text-black-second;
}

.btn {
  cursor: pointer;

  @extend .poppins;

  padding: 14px 24px;
  border-radius: 10px;

  &_filled {
    background-color: $violet-dark;
    color: #FFFFFF;
  }

  &_outlined {
    border: 1px solid $violet-dark;
    color: $violet-dark;
  }
}

// MEDIA

@media screen and (max-width: 600px) {
  .container {
    padding: 30px;
  }
}